/* Cabecera más grande y que quepa bien el logo */
.navbar-brand {
  height: 125px;
}

.navbar-brand img {
  max-height: 120px;
}

/* Colores custom en el contacto en cabecera */
ul .fa-instagram {
  color: #c32aa3;
}

ul .fa-facebook {
  color: #3b5998;
}

ul .fa-twitter {
  color: #00acee;
}

ul .fa-envelope {
  color: #bb001b;
}

ul .fa-phone {
  color: #2b2d2f;
}

/* y quitar el subyarado del teléfono */
.navbar ul.nav li a.phone {
  color: #2b2d2f;
  text-decoration: none;
}

/* En móvil se quitan los iconos de contacto */
@media screen and (max-width: 991px) {
  .psk-collapse {
    display: none;
  }
}

/* Quitar imagen de fondo en carrusel */
.home-carousel {
  background: none;
}

/* y dejar una máscara lila */
.home-carousel .dark-mask {
  background: #d0b1ea;
  opacity: 0.8;
}


/* Evitar que el hover en los círculos haga glow */
.box-simple:hover .icon {
  transform: none
}
