/****************************************/
/*************** GENERAL ****************/
/****************************************/

/* Colores custom en el contacto */
.fa-instagram {
  color: #c32aa3;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-envelope {
  color: #bb001b;
}

.fa-phone {
  color: #555555;
}

/****************************************/
/*************** HEADER *****************/
/****************************************/

/* Cabecera más grande y que quepa bien el logo */
.navbar-brand {
  height: 125px;
}

.navbar-brand img {
  max-height: 120px;
}

/* quitar el hover */
.navbar ul.nav > li > a {
  border-top: none;
}

.navbar ul.nav > li > a:focus,
.navbar ul.nav > li > a:hover {
  border-top: none;
  background: none;
}

/* quitar el subyarado del teléfono */
.navbar ul.nav li a.phone {
  color: #555555;
  text-decoration: none;
  font-weight: normal;
}

/* En móvil se quitan los iconos de contacto */
@media screen and (max-width: 991px) {
  .psk-collapse {
    display: none;
  }
}

/****************************************/
/************** CARRUSEL ****************/
/****************************************/

/* Quitar imagen de fondo en carrusel */
.home-carousel {
  background: none;
}

/* y dejar una máscara lila */
.home-carousel .dark-mask {
  background: #d0b1ea;
  opacity: 0.8;
}

.home-carousel h1 {
  font-size: 32px;
}

.home-carousel .right h1 {
  padding-top: 100px;
}

/* En móvil se ajustan los altos */
@media screen and (max-width: 991px) {
  .home-carousel .right h1 {
    padding-top: 0px;
  }
}

/****************************************/
/********** GENERAL SECCIONES ***********/
/****************************************/

section, div.section {
  margin-bottom: 0px;
}

/****************************************/
/************** FEATURES ****************/
/****************************************/

/* Evitar que el hover en los círculos haga glow */
.box-simple:hover .icon {
  transform: none
}

.box-simple .icon {
  color: #ff1e83;
  border-color: #ff1e83;
}

/****************************************/
/************** ABOUT ME ****************/
/****************************************/

.bar.background-orange {
  background: #ffbc61;
  padding: 25px;
}
.bar.background-orange p {
  color: black;
}

/****************************************/
/*************** FOOTER *****************/
/****************************************/

#footer {
  background: #ffffff;
}

#footer h4 {
  color: black;
}

#footer p {
  color: #555555;
  font-size: 18px;
}

#footer a.phone {
  color: #555555;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
}

#footer .social {
  margin-bottom: 10px;
}
