<section class="bar background-orange psk-about-me">
    <div class="container">
        <div class="col-md-4">
          <div class="image">
            <img src="/img/paula.jpg" class="img-responsive" alt="" />
          </div>
        </div>
        <div class="col-md-8">
            <h2>Sobre mí</h2>
            <div class="clearfix">
              <p>Soy Paula, psicóloga y psicomotricista desde hace más de 10 años. Mi pasión es entender y acompañar a las personas que formamos este mundo, aquellas que lo necesiten, con profesionalidad y cariño.</p>
              <p>Me licencié en psicología por la Universidad Autónoma de Madrid, donde conocí a profesores e investigadores verdaderamente apasionados por su trabajo, así como en la Fundación de la Universidad, donde obtuve una beca y di mis primeros pasos en un proyecto de inserción laboral para personas con discapacidad intelectual.</p>
              <p>La psicomotricidad en Psicopraxis fue mi siguiente descubrimiento, profesionales motivados y con un profundo respeto por las personas y sus procesos, especialmente observadores de los niños y su desarrollo evolutivo.</p>
              <p>Finalmente, mis pasos profesionales y académicos me encauzaron en la Atención Temprana en la Universidad Pública de Navarra, ya asentada en Pamplona. He trabajado tanto en el ámbito privado como en la red pública de Atención Temprana y soy formadora de psicomotricidad para profesionales del sector.</p>
              <p>Actualmente estoy totalmente dedicada a mi gabinete PsikoBizirik, observando y formándome de manera continua, ya que nunca se termina de aprender y de entender.</p>
            <p class="read-more">Puedes ver todo mi CV en <a href="https://www.linkedin.com/in/paula-garcia-arenzana-b82bb330/" target="_blank">Linkedin</a></p>
        </div>
    </div>
</section>
<section class="bar background-violet psk-about-me">
    <div class="container">
        <div class="col-md-4">
          <div class="image">
            <img src="/img/maider.jpg" class="img-responsive" alt="" />
          </div>
        </div>
        <div class="col-md-8">
            <h2>Maider</h2>
            <div class="clearfix">
              <p>Soy Maider, terapeuta ocupacional dedicada al mundo de la infancia y la discapacidad desde 2018.</p>
              <p>Me gradué en Terapia Ocupacional ese mismo año en la Universidad de Zaragoza. Y posteriormente me especialicé realizando el Máster en Terapia Ocupacional en Neurología de la Universidad Miguel Hernández.</p>
              <p>Desde el principio de mi andadura profesional tuve muy claro que quería dedicarme al área que más me apasionaba, el desarrollo infantil.</p>
              <p>Durante mi trayectoria he trabajado tanto en el área de la prevención, como con niños y niñas con discapacidad y/o dificultades en el desarrollo, en el ámbito privado y en la red de atención pública en Navarra. Por eso, he completado mi preparación con formaciones como Integración Sensorial, Psicomotricidad y Prácticas Centradas en la Familia, entre otras.</p>
              <p>El juego como ocupación principal y el movimiento como forma de expresión, me parecen piezas fundamentales en la infancia.</p>
              <p>Disfruto leyendo y aprendiendo acerca del desarrollo y la infancia, así como acompañando a los y las peques y sus familias en las diferentes situaciones que van surgiendo en el día a día.</p>
        </div>
    </div>
</section>
