{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel texture-bw">
        <div class="container psk-container">
            <ul class="psk-list">
              <li>Psicología</li>
              <li>Psicomotricidad</li>
              <li>Atención temprana</li>
            </ul>
            <div class="homepage owl-carousel psk-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                      <img class="img-responsive" src="{{ .image }}" alt="">
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
