<section class="bar background-white">
  <div class="container">
    <div class="heading">
      <h3>¿Hablamos?</h3>
    </div>
    <div id="contact-message">En cuanto reciba tu mensaje, contactaré contigo para concertar una cita telefónica o para quedar directamente en el centro.</div>
    <br />
    <form class="contact-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" required>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                  <label for="message">Mensaje</label>
                    <textarea id="message" class="form-control" name="message" required></textarea>
                </div>
            </div>

            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>

            </div>
        </div>
        <!-- /.row -->
    </form>
  </div>
</section>
