<footer id="footer">
    <div class="container">
        <div class="col-md-4 col-sm-6" id="address">
            <h4>Contacto</h4>
            <div class="social">
              <a href="https://www.instagram.com/psikobizirik/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/PsikoBizirik-588016411350977/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/PsikoBizirik" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="mailto:psikobizirik@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
              <a href="#" class="phone"><i class="fas fa-phone"></i> <span>661161267</span></a>
            </div>
            <p>C/ María Lacunza 5-7, bajo, </p>
            <p>Lezkairu, Pamplona</p>
            <p><a href="https://www.google.com/maps/place/PsikoBizirik/@42.8058328,-1.6258635,17z/data=!3m1!4b1!4m5!3m4!1s0xd50932221b87c41:0x7319f2410514c999!8m2!3d42.8058362!4d-1.6236733" target="_blank">Cómo llegar</a></p>
        </div>
        <div class="col-md-4 col-sm-6"></div>
        <div class="col-md-4 col-sm-6 psk-logo" id="logo">
          <img src="/img/logo.png" />
        </div>

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->
